main section.welcome, main section.about {
  margin: 29px 16px; }

main section.gallery h3, main section.topics h3 {
  margin: 14px 16px; }

main section.episodes {
  background-image: linear-gradient(to bottom, #0000FF, #0000A3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "IBM Plex Mono", monospace; }

h1,
h2,
h3 {
  font-family: "IBM Plex Sans", sans-serif; }

p {
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0; }

.container {
  width: 100%; }

.title {
  font-size: 36px;
  margin: 0; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked ~ .menu {
  display: block; }

input[type="checkbox"]:checked ~ .burguer-icon {
  display: none; }

input[type="checkbox"]:checked ~ .close-icon {
  display: block; }

header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 999; }
  header nav {
    height: 44px;
    position: relative; }
    header nav img {
      width: 24px;
      height: 24px;
      margin: 10px 16px 6px; }
    header nav .burguer-icon {
      display: block;
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 16px;
      cursor: pointer; }
    header nav .close-icon {
      display: none;
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 17.5px;
      cursor: pointer; }
    header nav ul.menu {
      display: none;
      background-color: #0000EC;
      height: 224px; }
      header nav ul.menu li {
        list-style: none;
        padding: 16px 0px 10px;
        font-family: "IBM Plex Mono";
        font-size: 16px;
        line-height: 28px; }
        header nav ul.menu li a {
          color: #FFFFFF;
          margin: 12px 16px;
          text-decoration: none;
          cursor: pointer; }
      header nav ul.menu li:hover {
        color: #FFFFFF;
        background-image: linear-gradient(to right, #00F3BB, #0000FF); }

@media only screen and (min-width: 600px) {
  header nav {
    height: 60px;
    display: flex;
    justify-content: space-between; }
    header nav img {
      width: 30px;
      height: 30px;
      margin: 12px 16px; }
    header nav .burguer-icon {
      display: none; }
    header nav .close-icon {
      display: none; }
    header nav ul.menu {
      display: flex;
      background-color: #FFFFFF;
      height: 60px;
      margin-right: 20px; }
      header nav ul.menu li a {
        color: #060A24;
        margin: 10px; }
      header nav ul.menu li a:hover {
        color: #00F3BB; }
      header nav ul.menu li a:active {
        text-decoration: line-through; } }
@media only screen and (min-width: 992px) {
  header nav {
    height: 80px; }
    header nav a {
      margin-left: 60px; } }
@media only screen and (min-width: 1280px) {
  header nav {
    height: 80px; }
    header nav a {
      margin-left: 64px; }
    header nav img {
      width: 36px;
      height: 36px;
      margin: 22px 36px; }
    header nav ul.menu {
      margin-right: 52px; }
      header nav ul.menu li {
        padding: 26px 0 26px; }
        header nav ul.menu li a {
          margin: 26px 48px; }
        header nav ul.menu li a:hover {
          color: #00F3BB; }
        header nav ul.menu li a:active {
          text-decoration: line-through; } }
main {
  min-width: 320px;
  margin-top: 80px;
  position: relative; }
  main section.welcome {
    position: relative; }
    main section.welcome h2 span.line-through {
      text-decoration: line-through; }
    main section.welcome h2 span.blue-dot {
      color: #0000EC; }
    main section.welcome p.txt-desk {
      display: none; }
    main section.welcome div.btn-style {
      width: 288px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to right, #00F3BB, #00F3BB);
      color: #060A24;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0;
      font-family: "IBM Plex Mono";
      font-weight: 600;
      border: none;
      cursor: pointer; }
      main section.welcome div.btn-style a {
        color: #060A24;
        text-decoration: none; }
      main section.welcome div.btn-style a:hover {
        color: #FFFFFF; }
    main section.welcome div:hover {
      background-image: linear-gradient(to right, #00F3BB, #0000FF); }
  main section.episodes {
    position: relative;
    clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    overflow: hidden; }
    main section.episodes h3 {
      margin: 0 16px;
      padding-top: 64px;
      color: #FFFFFF; }
    main section.episodes .episodes-container {
      padding-bottom: 143.5px; }
      main section.episodes .episodes-container .left-container,
      main section.episodes .episodes-container .right-container {
        display: flex;
        flex-direction: column;
        align-items: center; }
        main section.episodes .episodes-container .left-container iframe,
        main section.episodes .episodes-container .right-container iframe {
          max-width: 301px;
          width: 100%;
          height: 232px;
          border: 0;
          display: block;
          margin: 9px; }
  main section.about {
    position: relative;
    top: -138px; }
    main section.about img {
      max-width: 460px;
      width: 100%; }
  main section.gallery {
    position: relative;
    top: -100px; }
    main section.gallery img {
      width: 100%;
      display: block; }
  main section.topics {
    position: relative;
    top: -80px; }
    main section.topics div {
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      main section.topics div h6 {
        font-size: 24px;
        font-family: "IBM Plex Sans";
        margin: 0; }
      main section.topics div img {
        margin: 13px; }

@media only screen and (min-width: 321px) {
  main section.episodes .episodes-container iframe {
    max-width: 450px; }

  main section.news {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media only screen and (min-width: 600px) {
  main section.episodes {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main section.episodes div.ctn-title {
      align-self: flex-start; }
    main section.episodes .episodes-container {
      display: flex;
      flex-direction: row;
      width: 90%; }
      main section.episodes .episodes-container .left-container,
      main section.episodes .episodes-container .right-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 5px; }
      main section.episodes .episodes-container iframe {
        width: 100%; }

  main section.about {
    display: flex;
    align-items: center; }
    main section.about div {
      max-width: 464px; }

  main section.gallery {
    display: flex;
    flex-direction: column; }
    main section.gallery .gallery-container {
      display: inline-flex; }

  main section.topics h3 {
    margin: 14px 200px; }
  main section.topics div.topics-container {
    flex-direction: row; }
    main section.topics div.topics-container div {
      display: inline-block; } }
@media only screen and (min-width: 930px) {
  main section.welcome {
    top: 25px; }
    main section.welcome h2, main section.welcome p, main section.welcome div {
      margin-left: 62px; }
    main section.welcome p {
      width: 500px; }
  main section.episodes {
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%); }
    main section.episodes h3 {
      padding-top: 100px;
      margin-left: 62px; }
    main section.episodes .episodes-container .left-container iframe, main section.episodes .episodes-container .right-container iframe {
      max-width: initial; }
  main section.topics h3 {
    margin: 14px 100px; } }
@media only screen and (min-width: 1280px) {
  main {
    margin-top: 200px; }
    main section.welcome h2 {
      font-size: 64px;
      margin: 0 200px;
      line-height: 84px; }
    main section.welcome p.txt-mob {
      display: none; }
    main section.welcome p.txt-desk {
      display: block;
      width: 628px;
      font-size: 16px;
      line-height: 24px;
      margin: 0 200px; }
    main section.welcome div.btn-style {
      width: 345px;
      height: 56px;
      font-size: 18px;
      margin: 56px 200px; }
    main section.gallery {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      top: -150px; }
      main section.gallery h3.title {
        font-size: 48px;
        margin-left: 200px; }
      main section.gallery .gallery-container {
        display: flex;
        flex-direction: column; }
        main section.gallery .gallery-container .up-container,
        main section.gallery .gallery-container .down-container {
          display: flex;
          flex-direction: row; }
          main section.gallery .gallery-container .up-container img,
          main section.gallery .gallery-container .down-container img {
            width: 33.3%;
            height: 100%; }
    main section.episodes {
      height: 1042.6px;
      display: flex;
      align-items: center;
      clip-path: polygon(0% 10%, 100% 0%, 100% 95%, 0% 100%); }
      main section.episodes div.ctn-title {
        align-self: flex-start; }
        main section.episodes div.ctn-title h3.title {
          margin: 186px 200px 15px;
          padding-top: 0;
          font-size: 48px; }
      main section.episodes .episodes-container {
        margin: 0 91px;
        width: 80%; }
        main section.episodes .episodes-container .left-container {
          width: 50%;
          margin-right: 63px; }
          main section.episodes .episodes-container .left-container iframe {
            max-width: initial; }
          main section.episodes .episodes-container .left-container iframe:first-child {
            margin-bottom: 63px; }
        main section.episodes .episodes-container .right-container {
          width: 50%; }
          main section.episodes .episodes-container .right-container iframe {
            max-width: initial; }
          main section.episodes .episodes-container .right-container iframe:first-child {
            margin-bottom: 63px; }
    main section.about {
      top: -220px; }
      main section.about img {
        margin-left: 184px; }
      main section.about .aboutdescription-container {
        margin-left: 64.2px; }
        main section.about .aboutdescription-container h3 {
          font-size: 48px; }
        main section.about .aboutdescription-container p {
          font-size: 16px; }
    main section.topics h3.title {
      font-size: 48px;
      margin: 14px 200px 56px; }
    main section.topics div.topics-container div {
      width: 260px; }
      main section.topics div.topics-container div img {
        margin-bottom: 29px; }
    main section.topics div.topics-container div.re-progra {
      height: 175px; } }
footer {
  position: relative;
  top: -50px; }
  footer section.news {
    position: relative;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%); }
    footer section.news h3 {
      text-align: center;
      padding-top: 64px;
      color: #FFFFFF; }
    footer section.news div {
      margin: 36px 16px 67px; }
    footer section.news div.btn-style {
      width: 288px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to right, #00F3BB, #00F3BB);
      color: #060A24;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0;
      font-family: "IBM Plex Mono";
      font-weight: 600;
      border: none;
      cursor: pointer; }
      footer section.news div.btn-style a {
        color: #060A24;
        text-decoration: none; }
      footer section.news div.btn-style a:hover {
        color: #FFFFFF; }
    footer section.news div:hover {
      color: #FFFFFF;
      background-image: linear-gradient(to right, #00F3BB, #0000FF); }
  footer p {
    margin: 24px 46.5px 16px; }
  footer .sociallogos-container {
    margin: 16px 35px 0;
    display: flex; }
    footer .sociallogos-container i {
      margin: 0 16px;
      cursor: pointer; }
    footer .sociallogos-container i:hover {
      color: #0000FF; }

@media only screen and (min-width: 321px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: inherit;
    top: 0; }
    footer section.news {
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
    footer p {
      margin-bottom: 0px; }
    footer .sociallogos-container {
      margin: 24px 46.5px 16px; } }
@media only screen and (min-width: 650px) {
  footer {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: inherit;
    top: 0; }
    footer section.news {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 518px;
      width: 100%;
      clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%); }
      footer section.news .title {
        padding-top: 113px;
        font-size: 48px; }
      footer section.news div.btn-style {
        font-size: 18px;
        width: 345px;
        height: 56px; }
    footer div.ctn-networks {
      display: flex;
      justify-content: space-between; }
      footer div.ctn-networks p {
        margin-bottom: 16px;
        font-size: 16px; }
      footer div.ctn-networks .sociallogos-container {
        margin: 24px 46.5px 16px; }
        footer div.ctn-networks .sociallogos-container i {
          font-size: 18px; } }
@media only screen and (min-width: 768px) {
  footer section.news {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*# sourceMappingURL=style.css.map */
