@mixin size($width, $height) {
    width: $width;
    height: $height;
}

%margin-white-section {
    margin: 29px 16px;
}

%margin-title-white-section {
    margin: 14px 16px;
}

%bg-img-lg {
    background-image: linear-gradient(to bottom, $third-color,$fourth-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: $first-font, monospace;
}

h1,
h2,
h3 {
    font-family: $second-font, sans-serif;
}

p {
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0;
}

.container {
    @include size(100%, _);
}

.title {
    font-size: 36px;
    margin: 0;
}
