footer {
    position: relative;
    top: -50px;
    section.news {
        position: relative;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        h3 {
            text-align: center;
            padding-top: 64px;
            color: $first-color;
        }
        button {
            margin: 36px 16px 67px;
        }
        button.btn-style {
            @include size(288px, 48px);
            background-image: linear-gradient(to right, $fifth-color, $fifth-color);
            color: $sixth-color;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
            font-family: $first-font;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }
        button:hover {
            color: $first-color;
            background-image: linear-gradient(to right, $fifth-color, $third-color);
        }
    }
    p {
        margin: 24px 46.5px 16px;
    }
    .sociallogos-container {
        margin: 16px 35px 0;
        display: flex;
        i {
            margin: 0 16px;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 321px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: inherit;
        top: 0;
        section.news {
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        p {
            margin-bottom: 0px;
        }
        .sociallogos-container {
            margin: 24px 46.5px 16px;
        }
    }
}

@media only screen and (min-width: 650px) {
    footer {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: inherit;
        top: 0;
        section.news {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 518px;
            width: 100%;
            clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
            .title {
                padding-top: 113px;
                font-size: 48px;
            }
            button {
                @include size(345px, 56px);
            }
            button.btn-style {
                font-size: 18px;
            }
        }
        div.ctn-networks {
            display: flex;
            justify-content: space-between;
            p {
                margin-bottom: 16px;
                font-size: 16px;
            }
            .sociallogos-container {
                margin: 24px 46.5px 16px;
                i {
                    font-size: 18px;
                }
            }
        }        
    }
}

@media only screen and (min-width: 768px) {
    footer section.news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
