input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.menu {
    display: block;
}

input[type="checkbox"]:checked~.burguer-icon {
    display: none;
}

input[type="checkbox"]:checked~.close-icon{
    display: block;
}

header {
    background-color: $first-color;
    position: fixed;
    top: 0;
    z-index: 999;

    nav {
        height: 44px;
        position: relative;
        img {
            @include size(24px, 24px);
            margin: 10px 16px 6px;
        }
        .burguer-icon {
            display: block;
            font-size: 20px;
            position: absolute;
            top: 10px;
            right: 16px;
            cursor: pointer;
        }
        .close-icon {
            display: none;
            font-size: 20px;  
            position: absolute;
            top: 10px;
            right: 17.5px;
            cursor: pointer;
        }

        ul.menu {
            display: none;
            background-color: $second-color;
            height: 224px;   
            li {
                list-style: none;
                padding: 16px 0px 10px;
                font-family: $first-font;
                font-size: 16px;
                line-height: 28px;
                a {
                    color: $first-color;
                    margin: 12px 16px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            li:hover {
                color: $first-color;
                background-image: linear-gradient(to right, $fifth-color, $third-color);
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    header {
        nav {
            height: 60px;
            display: flex;
            justify-content: space-between;
            img {
                @include size(30px, 30px);
                margin: 12px 16px; 
            }
            .burguer-icon {
                display: none;
            }
            .close-icon {
                display: none;
            }

            ul.menu {
                display: flex;
                background-color: $first-color;
                height: 60px;
                margin-right: 20px;
                li { 
                    a {
                        color: $sixth-color;
                        margin: 10px;
                    }
                    a:hover {
                        color: $fifth-color;
                    }
                    a:active {
                        text-decoration: line-through;
                    }
                }
                li:hover {
                    background-image: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    header {
        nav {
            height: 80px;
            a {
                margin-left: 60px;
            }
            ul.menu li:hover {
                background-image: none;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    header {
        nav {
            height: 80px;
            a {
                margin-left: 64px;
            }
            img {
                @include size(36px, 36px);
                margin: 22px 36px; 
            }

            ul.menu {
                margin-right: 52px;
                li {     
                    padding: 26px 0 26px;
                    a {
                        margin: 26px 48px;
                    }
                    a:hover {
                        color: $fifth-color;
                    }
                    a:active {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
