main {
    min-width: 320px;
    margin-top: 80px;
    position: relative;
    z-index: -1;
    section.welcome {
        position: relative;

        @extend %margin-white-section;
        h2 span.line-through {
            text-decoration: line-through;
        }
        h2 span.blue-dot {
            color: $second-color;
        }
        p.txt-desk {
            display: none;
        }
    }
    section.episodes {
        position: relative;
        @extend %bg-img-lg;
        clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
        overflow: hidden;
        h3 {
            margin: 0 16px;
            padding-top: 64px;
            color: $first-color;
        }
        .episodes-container {
            padding-bottom: 143.5px;
            iframe{
                max-width: 301px;
                @include size(100%, 232px);
                border: 0;
                display: block;
                margin: 9px;
            }
        }
        
    }
    section.about {
        @extend %margin-white-section;
        position: relative;
        top: -138px;
        img {
            max-width: 460px;
            @include size(100%, _);
        }

    }
    section.gallery {
        position: relative;
        top: -100px;
        h3 {
            @extend %margin-title-white-section;
        }
        img {
            @include size(100%, _);
            display: block;
        }

    }
    section.topics {
        position: relative;
        top: -80px;
        h3 {
            @extend %margin-title-white-section;
        }
        div {
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h6 {
                font-size: 24px;
                font-family: $second-font;
                margin: 0;
            }
            img {
                margin: 13px;
            }
        }

    }
    section.news {
        position: relative;
        top: -53px;
        @extend %bg-img-lg;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        h3 {
            text-align: center;
            padding-top: 64px;
            color: $first-color;
        }
        button {
            margin: 36px 16px 67px;
        }
    }
}

@media only screen and (min-width: 321px) {
    main section.episodes .episodes-container iframe {
        max-width: 450px; 
    }

   main section.news {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    main section.episodes {
        display: flex;
        flex-direction: column;
        .episodes-container {
            display: flex;
            flex-direction: row;
            .left-container,
            .right-container {
                display: flex;
                flex-direction: column;
                width: 584px;
            }
            iframe {
                width: 100%;
            }
        }
    }
    main section.about {
        display: flex;
        align-items: center;
        div {
            max-width: 464px;
        }
    }
    main section.gallery {
        display: flex;
        flex-direction: column;
        .gallery-container {

            display: inline-flex;
            .up-container,
            .down-container {
               
            }
        }
    }
    main section.topics {
        h3 {
            margin: 14px 200px;
        }
        div.topics-container {
            flex-direction: row;

            div {
                display: inline-block;
            // flex-direction: row;
    
            }
        }
        
    }
}

@media only screen and (min-width: 768px) {
    main section.news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1280px) {
    main {
        margin-top: 200px;
    }
    main section.welcome {
        h2 {
            font-size: 64px;
            margin: 0 200px;
            line-height: 84px;
        }
        p.txt-mob {
            display: none;
        }
        p.txt-desk {
            display: block;
            width: 628px;
            font-size: 16px;
            line-height: 24px;
            margin: 0 200px;
        }
        button {
            margin: 56px 200px;
        }
    }
    main section.gallery {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .gallery-container {
            display: flex;
            flex-direction: column;
            .up-container,
            .down-container {
                display: flex;
                flex-direction: row;
                img {
                    width: 480px;
                    height: 100%;
                }
            }
        }
    }
    main section.episodes {
        height: 1042.6px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        h3.title {
            margin: 186px 200px 15px;
            padding-top: 0;
            font-size: 48px;
        }
        .episodes-container {
            margin: 0 91px;
            .left-container {
                margin-right: 63px;
                iframe {
                    max-width: initial;
                }
                iframe:first-child {
                    margin-bottom: 63px;
                }
            }
            .right-container {
                iframe {
                    max-width: initial;
                }
                iframe:first-child {
                    margin-bottom: 63px;
                }
            }
        }
    }
    main section.news {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 518px;
        clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
        .title {
            padding-top: 113px;
            font-size: 48px;
        }
        button {
            @include size(345px, 56px);
        }
        .btn-style {
            font-size: 18px;
        }
    }
}