main {
    min-width: 320px;
    margin-top: 80px;
    position: relative;
    section.welcome {
        position: relative;
        @extend %margin-white-section;
        h2 span.line-through {
            text-decoration: line-through;
        }
        h2 span.blue-dot {
            color: $second-color;
        }
        p.txt-desk {
            display: none;
        }
        button.btn-style {
            @include size(288px, 48px);
            background-image: linear-gradient(to right, $fifth-color, $fifth-color);
            color: $sixth-color;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
            font-family: $first-font;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }
        button:hover {
            color: $first-color;
            background-image: linear-gradient(to right, $fifth-color, $third-color);
        }
    }
    section.episodes {
        position: relative;
        @extend %bg-img-lg;
        clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
        overflow: hidden;
        h3 {
            margin: 0 16px;
            padding-top: 64px;
            color: $first-color;
        }
        .episodes-container {
            padding-bottom: 143.5px;
            .left-container,
            .right-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                iframe{
                    max-width: 301px;
                    @include size(100%, 232px);
                    border: 0;
                    display: block;
                    margin: 9px;
                }
            }
        } 
    }
    section.about {
        @extend %margin-white-section;
        position: relative;
        top: -138px;
        img {
            max-width: 460px;
            @include size(100%, _);
        }

    }
    section.gallery {
        position: relative;
        top: -100px;
        h3 {
            @extend %margin-title-white-section;
        }
        img {
            @include size(100%, _);
            display: block;
        }

    }
    section.topics {
        position: relative;
        top: -80px;
        h3 {
            @extend %margin-title-white-section;
        }
        div {
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h6 {
                font-size: 24px;
                font-family: $second-font;
                margin: 0;
            }
            img {
                margin: 13px;
            }
        }

    }
}

@media only screen and (min-width: 321px) {
    main section.episodes .episodes-container iframe {
        max-width: 450px; 
    }

   main section.news {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    main section.episodes {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.ctn-title {
            align-self: flex-start;
        }
        .episodes-container {
            display: flex;
            flex-direction: row;
            width: 90%;
            .left-container,
            .right-container {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 0 5px;
            }
            iframe {
                width: 100%;
            }
        }
    }
    main section.about {
        display: flex;
        align-items: center;
        div {
            max-width: 464px;
        }
    }
    main section.gallery {
        display: flex;
        flex-direction: column;
        .gallery-container {
            display: inline-flex;
        }
    }
    main section.topics {
        h3 {
            margin: 14px 200px;
        }
        div.topics-container {
            flex-direction: row;

            div {
                display: inline-block;    
            }
        }
        
    }
}

@media only screen and (min-width: 1280px) {
    main {
        margin-top: 200px;

        section.welcome {
            h2 {
                font-size: 64px;
                margin: 0 200px;
                line-height: 84px;
            }
            p.txt-mob {
                display: none;
            }
            p.txt-desk {
                display: block;
                width: 628px;
                font-size: 16px;
                line-height: 24px;
                margin: 0 200px;
            }
            button.btn-style {
                margin: 56px 200px;
            }
        }

        section.gallery {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            top: -150px;
            h3.title {
                font-size: 48px;
                margin-left: 200px;
            }
            .gallery-container {
                display: flex;
                flex-direction: column;
                .up-container,
                .down-container {
                    display: flex;
                    flex-direction: row;
                    img {
                        width: 33.3%;
                        height: 100%;
                    }
                }
            }
        }
        section.episodes {
            height: 1042.6px;
            display: flex;
            align-items: center;
            clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
           
           div.ctn-title {
               align-self: flex-start;
            h3.title {
                margin: 186px 200px 15px;
                padding-top: 0;
                font-size: 48px;
            }
           }
            
            .episodes-container {
                margin: 0 91px;
                width: 80%;
                .left-container {
                    width: 50%;
                    margin-right: 63px;
                    iframe {
                        max-width: initial;
                    }
                    iframe:first-child {
                        margin-bottom: 63px;
                    }
                }
                .right-container {
                    width: 50%;
                    iframe {
                        max-width: initial;
                    }
                    iframe:first-child {
                        margin-bottom: 63px;
                    }
                }
            }
        }
        section.about {
            top: -220px;
            img {
                margin-left: 184px;
            }
            .aboutdescription-container {
                margin-left: 64.2px;
                h3 {
                    font-size: 48px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        section.topics {
            h3.title {
                font-size: 48px;
                margin-bottom: 56px;
            }
            div.topics-container {
                div {
                    width: 260px;
                    img {
                        margin-bottom: 29px;
                    }
                }
                div.re-progra {
                    height: 175px;
                }
            }
        }
    } 
}