// colors
$first-color: #FFFFFF;
$second-color: #0000EC;
$third-color: #0000FF;
$fourth-color: #0000A3;
$fifth-color: #00F3BB;
$sixth-color: #060A24;

// fonts
$first-font: 'IBM Plex Mono';
$second-font: 'IBM Plex Sans';